.student-profile-menu-container {
  border-right: 1px solid #E3E3E3;
}

.custom-modal {
  width: 253px;
}

.chart-modal {
  width: 95%;
}

.hospital-select-modal {
  width: 55%;
}

.progress {height: 7px; margin: 0}
.progress-bar { line-height: 7px; }