.header-container {
    position: relative;
    background-color: #fff;
    z-index: 1
}

@media only screen and (min-width:992px) {
    .header-container {
        margin-left: 240px
    }
}

.header-container>nav {
    min-height: 65px;
    line-height: 64px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14)
}

.header-container>nav:after, .header-container>nav:before {
    content: " ";
    display: table
}

.header-container>nav:after {
    clear: both
}

.header-container>nav>.header-title {
    display: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0 16px;
    font-size: 20px;
    line-height: inherit;
    letter-spacing: .02em;
    font-weight: 400
}

@media (min-width:340px) {
    .header-container>nav>.header-title {
        display: block
    }
}

@media (max-width:420px) {
    .header-container>nav>.header-title {
        max-width: 140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
}

.header-container>nav>ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.header-container>nav>ul:after, .header-container>nav>ul:before {
    content: " ";
    display: table
}

.header-container>nav>ul:after {
    clear: both
}

.header-container>nav>ul>li {
    float: left
}

.header-container>nav>ul>li>a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: inherit
}

.header-container>nav>ul>li>a>em, .header-container>nav>ul>li>a>span>em {
    font-size: 24px;
    vertical-align: -24%;
    line-height: 1
}

.header-container>nav>ul>li>a:hover {
    background-color: rgba(0, 0, 0, .025)
}

#offcanvas-toggler {
    display: none
}

.sidebar-offcanvas #offcanvas-toggler {
    display: block
}

.header-form-search {
    position: relative;
    margin: 0;
    overflow: hidden;
    -webkit-transition: width .2s cubic-bezier(.4, 0, .2, 1);
    transition: width .2s cubic-bezier(.4, 0, .2, 1)
}

.header-form-search .btn, .header-form-search .form-control {
    margin: 0;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 #000
}

.header-form-search .btn {
    padding-top: 0;
    padding-bottom: 0
}

.header-form-search .form-control:focus+.focus-bottom-line {
    left: 40px;
    right: 40px;
    visibility: visible
}

.header-form-search .focus-bottom-line {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 45%;
    height: 2px;
    visibility: hidden;
    background-color: hsla(0, 0%, 47%, .15);
    -webkit-transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition: .2s cubic-bezier(.4, 0, .2, 1)
}

.header-container>nav>ul>li>.menu-link {
    height: 65px;
    padding-top: 25px
}

.menu-link-close, .menu-link-close span {
    display: block;
    position: relative
}

.menu-link-close span, .menu-link-close span:after, .menu-link-close span:before {
    width: 18px;
    height: 0;
    border-bottom: 2px solid;
    will-change: transform;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s
}

.menu-link-close span {
    -webkit-transition: border-color .4s;
    transition: border-color .4s
}

.menu-link-close span:after, .menu-link-close span:before {
    content: " ";
    position: absolute
}

.menu-link-close span:before {
    top: 6px
}

.menu-link-close span:after {
    top: 12px
}

.active .menu-link-close span {
    border-color: transparent
}

.active .menu-link-close span:before {
    -webkit-transform: rotate(45deg) translate(1px);
    transform: rotate(45deg) translate(1px)
}

.active .menu-link-close span:after {
    -webkit-transform: rotate(-45deg) translate(4px, -3px);
    transform: rotate(-45deg) translate(4px, -3px)
}

.menu-link-slide, .menu-link-slide span {
    display: block;
    position: relative
}

.menu-link-slide span, .menu-link-slide span:after, .menu-link-slide span:before {
    width: 18px;
    height: 0;
    border-bottom: 2px solid;
    -webkit-transition: all .4s;
    transition: all .4s
}

.menu-link-slide span:after, .menu-link-slide span:before {
    content: " ";
    position: absolute
}

.menu-link-slide span:before {
    top: 7px;
    left: 0;
    width: 60%;
    will-change: left
}

.menu-link-slide span:after {
    top: 14px
}

.menu-link-slide em {
    position: absolute;
    top: 4px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid;
    -webkit-transition: all .4s;
    transition: all .4s;
    will-change: right, transform
}

.active .menu-link-slide span:before {
    left: 40%
}

.active .menu-link-slide span em {
    right: 80%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.menu-link-arrow {
    display: block;
    position: relative
}

.menu-link-arrow span {
    position: relative;
    height: 14px
}

.menu-link-arrow em, .menu-link-arrow em:after, .menu-link-arrow em:before, .menu-link-arrow span {
    display: block;
    will-change: transform;
    width: 18px;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s
}

.menu-link-arrow em, .menu-link-arrow em:after, .menu-link-arrow em:before {
    content: " ";
    position: absolute;
    height: 0;
    border-bottom: 2px solid
}

.menu-link-arrow em {
    -webkit-transition: border-color .4s;
    transition: border-color .4s
}

.menu-link-arrow em:before {
    top: -6px
}

.menu-link-arrow em, .menu-link-arrow em:after {
    top: 6px
}

.active .menu-link-arrow span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.active .menu-link-arrow span em:before {
    width: 12px;
    transform: translateX(6px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(6px) translateY(1px) rotate(45deg)
}

.active .menu-link-arrow span em:after {
    width: 12px;
    transform: translateX(6px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(6px) translateY(-1px) rotate(-45deg)
}